<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Dashboard')"></th:block>
    <link rel="stylesheet" href="/css/dashboard.css"/>
</head>

<body>
<nav th:replace="fragments :: my-navbar"/>
<div class="container">
    <div id="container">
        <h1>Welcome to your User Dashboard <span th:text="${user.username}"></span>!</h1>
            <h2>Manage Service Requests</h2>
            <br/>
            <h3>Submited Request</h3>
            <div class="col-sm-3" th:each="appointment: ${appointmentRequests}">
                <h4>To:  <span th:text="${appointment.servicer.name}"></span></h4>
                <h4>for: <th:block th:switch="${appointment.serviceRecords.userAppliance.appliance_id}">
                    <span th:case="0">Refrigerator</span>
                    <span th:case="1">Stove/ Oven</span>
                    <span th:case="2">Washer</span>
                    <span th:case="3">Dryer</span>
                    <span th:case="4">Dishwasher</span>
                    <span th:case="5">Microwave</span>
                    <span th:case="6">Ice Machine</span>
                    <span th:case="7">Other</span>
                </th:block></h4>
                <h4>When:</h4>
                <h4 th:text="${appointment.formatDate(appointment.date)}"></h4>
                <h4 th:text="${appointment.formatTime(appointment.startTime)}"></h4>
                <h4 th:text="${appointment.formatTime(appointment.stopTime)}"></h4>
                <form th:action="@{/user/dashboard}" th:method="post">
                    <input type="hidden" id="id" name="id" th:value="${appointment.id}"/>
                    <input type="submit" value="Cancel"/>
                </form>
            </div>

        <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Scheduling</h2>
            <h2><a href="/user/scheduleservice">Schedule service</a></h2>
        </div>

        <div class="col-sm-6 col-sm-offset-3">
            <h2>My Appliances</h2>
            <h2><a href="/user/myappliances">View/ Add</a></h2>
        </div>

        <div class="col-sm-6 col-sm-offset-3">
            <h2>My Service History</h2>
            <h2><a href="/user/service-records">View</a></h2>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Submit Reviews</h2>

            <h2><a href="/user/reviews">leave feedback</a></h2>
          <h2>My Reviews</h2>
            <h2><a href="/user/review">View</a></h2>

        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <h2>Setup Profile</h2>
            <h2><a href="/user/setprofile">Setup Profile</a></h2>
        </div>
        </div>
    </div>
</div>
<footer th:include="fragments :: my-footer" class="footer"/>
</body>
</html>