<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('View Servicer')"></th:block>

</head>
<body>
<nav th:replace="fragments :: my-navbar"/>
<div class="container">

    Service Provider
    <h2 th:text="${servicer.username}"></h2>
    <img src="http://via.placeholder.com/250x250" alt=""/>
    <h4 th:text="${servicer.phone}"></h4>
    <p th:text="${servicer_info.serviceCallFee}"></p>
    <p th:text="${servicer_info.about}"></p>

</div>
<footer th:replace="fragments :: my-footer"/>
</body>
</html>


