<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Technician')"></th:block>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <link rel="stylesheet" href="/css/fragments.css"/>
    <link rel="stylesheet" href="/css/calender.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>


</head>
<body>


<nav th:replace="fragments :: my-navbar" />
<div class="container">


        <div class="col-sm-3" th:each="appointment: ${appointments}">
            <div data-toggle="modal" th:attr="data-target='#modal' + ${appointment.id}">
            <h4 th:text="${appointment.formatDate(appointment.date)}"></h4>
            <h4>Company: <span th:text="${appointment.servicer.name}"></span></h4>
            <h4>Appliance:
                <th:block th:switch="${appointment.serviceRecords.userAppliance.appliance_id}">
                    <span th:case="0">Refrigerator</span>
                    <span th:case="1">Stove/ Oven</span>
                    <span th:case="2">Washer</span>
                    <span th:case="3">Dryer</span>
                    <span th:case="4">Dishwasher</span>
                    <span th:case="5">Microwave</span>
                    <span th:case="6">Ice Machine</span>
                    <span th:case="7">Other</span>
                </th:block></h4>
            </div>

            <!-- Modal -->
            <div class="modal fade" th:id="${'modal' + appointment.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Service Record #000<span th:text="${appointment.serviceRecords.id}"></span></h4>
                        </div>
                        <div class="modal-body">
                            <h4>Company: <span th:text="${appointment.Servicer.name}"></span></h4>
                            <h4>Phone: <span th:text="${appointment.Servicer.phone}"></span></h4>
                            <hr />
                            <h4>Customer name: <span th:text="${appointment.user.name}"></span></h4>
                            <h4>Address: <span th:text="${appointment.user.address}"></span></h4>
                            <h4><span th:text="${appointment.user.city}"></span>, <span th:text="${appointment.user.state}"></span> <span th:text="${appointment.user.zipcode}"></span></h4>
                            <h4>Phone: <span th:text="${appointment.user.phone}"></span></h4>
                            <hr />
                            <h4>Date of service: <span th:text="${appointment.formatDate(appointment.date)}"></span></h4>
                            <h4>Appliance:
                                <th:block th:switch="${appointment.serviceRecords.userAppliance.appliance_id}">
                                    <span th:case="0">Refrigerator</span>
                                    <span th:case="1">Stove/ Oven</span>
                                    <span th:case="2">Washer</span>
                                    <span th:case="3">Dryer</span>
                                    <span th:case="4">Dishwasher</span>
                                    <span th:case="5">Microwave</span>
                                    <span th:case="6">Ice Machine</span>
                                    <span th:case="7">Other</span>
                                </th:block></h4>
                            <h4>Name: <span th:text="${appointment.serviceRecords.userAppliance.name}"></span></h4>
                            <h4>Model: <span th:text="${appointment.serviceRecords.userAppliance.model}"></span></h4>
                            <h4>Serial: <span th:text="${appointment.serviceRecords.userAppliance.serial}"></span></h4>
                            <hr />
                            <h4>Original complaint: <span th:text="${appointment.serviceRecords.complaint}"></span></h4>
                            <h4>Parts installed: <span th:text="${appointment.serviceRecords.parts_installed}"></span></h4>
                            <h4>Description of service: <span th:text="${appointment.serviceRecords.desc_service}"></span></h4>
                        </div>
                        </div>
                        <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>



</div>
<footer th:include="fragments :: my-footer" class="footer col-xs-12"/>
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>