body {
    background-color: #596059;
}

h1 {
    margin-top: 1.5em;
    text-align: center;
    font-size: 4em;
    font-family: Serif;
    color: snow;
}

.time {
    margin-top: 1.5em;
    font-size: 2.2em;
    font-family: Serif;
    color: snow;
}
h2 {
    margin-top: 1.5em;
    text-align: center;
    font-size: 2em;
    font-family: Serif;
    color: snow;
}

#error {
    color: coral;
    font-size: 2em;
    font-family: Serif;
    text-align: center;
}


#myrating {
    width: 250px;
    margin: 0 auto;
}

#rateoverlay {
    background-color: gold;

}


#rateoverlay img {
    width: 250px;
}

.ratehover {
    background-color: gold;
}

.rated {
    background-color: gold;
}
.selector > h3 {
    background-color: #6984d2;
    color: white;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 8px;
    margin: 0 auto
}

.contentSelect {
    background-color: white;
    color: #333;
    border: 1px solid black;
    display: none;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 8px;
    max-height: 400px;
}