#dashContainer {
    background-color: white;
    color: #596059;
    margin: 0 auto;
    padding: 0;
    width: 100%
}

body {
    background-color: #596059;
}
/* #596059  */
h1 {
    margin-top: 1.5em;
    text-align: center;
    font-size: 4em;
    font-family: Serif;
    /*color: snow;*/
}

.time {
    margin-top: 1.5em;
    font-size: 2.2em;
    font-family: Serif;
    color: snow;
}
h2 {
    margin-top: 1.5em;
    text-align: center;
    font-size: 2em;
    font-family: Serif;
    /*color: snow;*/
}

#proTop h2, #proTop h1 {
    color: white;
}

#error {
    color: coral;
    font-size: 2em;
    font-family: Serif;
    text-align: center;
}


#myrating {
    width: 120px;
    margin: 0 auto;
    color: white;
}

#rateoverlay {
    background-color: gold;

}


#rateoverlay img {
    width: 120px;
}

.ratehover {
    background-color: gold;
}

.rated {
    background-color: gold;
}

.star {
    width: 25px;
}

.selector > h3 {
    background-color: #337ab7;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px;
    margin: 5px auto
}

.contentSelect {
    background-color: white;
    color: #333;
    border: 1px solid black;
    display: none;
    border-radius: 10px;
    padding: 0 8px;
    max-height: 200px;
    overflow: auto;
    margin-top: -6px;
}

#modules {
    margin-top: 35px;
}

.comments, .availappointments {
    background-color:#337ab7;
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
   width: 90%;
    margin: 30px auto;
}

.comments {
    height: 80%;
}

.availappointments {
    text-align: center;
    padding: 8px;
}

#proTop {
    background-color: #596059;
    margin: 0 auto;
}

.welcome {
    color: white;
    margin-top: 30px;
}

.nav{
    padding-left: 10%;
}

.nav-tabs > li {
    padding: 0 20px;
}

.proTab {
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
}

.techContainer {
    margin: 20px auto;
    align-self: flex-end;
}
.commentContain{
    align-self: stretch;
}

@media only screen and (max-width: 660px){

    .nav{
        padding-left: 0;
    }

}
