/*nav {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: #333;*/
/*}*/

/*ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: #333;*/
    /*display: inline-block;*/
/*}*/

/*li {*/
    /*float: left;*/
/*}*/

/*li a {*/
    /*display: block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /*text-decoration: none;*/
/*}*/

/*li a:hover {*/
    /*background-color: #575f6c;*/
/*}*/

/*nav form {*/
    /*display: inline-block;*/
/*}*/

/*nav button {*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /*border: none;*/
    /*background-color: transparent;*/
    /*text-decoration: none;*/
    /*font-size: inherit;*/
    /*font-family: inherit;*/
    /*float: left;*/
/*}*/

/*nav button:hover {*/
    /*background-color: #575f6c;*/
    /*cursor: pointer;*/
/*}*/

footer {
    margin-top: 40px;
    width: 100%;
    display: inline-block;
    height: 70px;
    background-color: #333;
}

.follow-and-connect{
    width: 50%;
    float: left;
}

.follow-and-connect p {
    margin: 0;
    padding-left: 10%;
    color: white;
    text-align: center;
    line-height: 70px;
}

.social {
    width: 50%;
    float: right;
}

.social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: white;
    text-align: center;
    font-weight: bold;
}

.support{
    background-color: gray;
    width: 40%;
}

.face {
    background-color: darkblue;
    width: 20%;
}

.tweet {
    background-color: lightblue;
    width: 20%;
}

.linked {
    background-color: blue;
    width: 20%;
}