body {
    height: auto;
}

.navbar-inverse .navbar-nav>li>a{
    color: white;
}

.navbar-inverse .btn-link{
    color: white;
}

.navbar-inverse .navbar-brand{
    color: white;
}

.navbar-inverse .navbar-brand:hover{
    background-color: rgba(89, 96, 89, 0.85);
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: rgba(89, 96, 89, 0.85);
    color: white;
}

footer {
    height: 70px;
    background-color: black;
    position: absolute;
    bottom: 0;
    margin-top: 50px;
}

.follow-and-connect{
    width: 50%;
    float: left;
}

.follow-and-connect p {
    margin: 0;
    padding-left: 10%;
    color: snow;
    text-align: center;
    line-height: 70px;
}

.social {
    width: 50%;
    float: right;
    padding-right: 0;
    padding-left: 0;
}

@media (max-width: 600px) {
    .social{
    width: 100%;
    }
    .follow-and-connect{
        width: 100%;
    }
}

.social a {
    float: left;
    line-height: 70px;
    text-decoration: none;
    color: snow;
    text-align: center;
    font-weight: bold;
}

.support{
    background-color: gray;
    width: 40%;
}

.face {
    background-color: darkblue;
    width: 20%;
}

.tweet {
    background-color: lightblue;
    width: 20%;
}

.linked {
    background-color: blue;
    width: 20%;
}

.btn-sq-lg {
    width: 150px !important;
    height: 150px !important;
}

.footer.col-xs-12 {
    padding-left: 0px;
    padding-right: 0px;
}