body {
    background-color: #596059;
}

.login {
    margin-top: 3em;
    font-family: Serif;
    font-size: 4em;
    text-align: center;
    color: snow;
}

.choice {
    margin-top: 1.5em;
    font-family: Serif;
    font-size: 3em;
    text-align: center;
    color: snow;
}

#pass , #log {
    color: coral;
    font-size: 2em;
    font-family: Serif;
}