body {
    background-color: #596059;
}

h1 {
    margin-top: 2em;
    /*text-align: center;*/
    font-size: 3em;
    font-family: Serif;
    color: snow;
}

.choice {
    margin-top: 1.5em;
    /*text-align: center;*/
    font-family: Serif;
    font-size: 2em;
    color: snow;
}

.col-sm-6 {
    text-align: center;
}
