<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>

</head>
<body>

<nav th:fragment="my-navbar">
    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Log In</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">About</a></li>
    </ul>
</nav>


<footer th:fragment="my-footer">
    <div class="follow-and-connect">
        <p>Follow and Connect with us</p>
    </div>
    <div class="social">
        <a href="#" class="support">Sign up for emails</a>
        <a href="#" class="face">f</a>
        <a href="#" class="tweet">t</a>
        <a href="#" class="linked">in</a>
    </div>
</footer>
</body>
</html>