<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head('Fix It Hub')" />

<body>
<nav th:replace="fragments :: my-navbar" />
<h1>Welcome to FixItHub!</h1>
<h3>Lets get started, choose an option.</h3>
<div class="col-sm-6 col-sm-offset-3">
    <div class="col-sm-6">
        <button class="box">Fix my appliance!</button>
    </div>
    <div class="col-sm-6">
        <button class="box">Provide service!</button>
    </div>
</div>

<footer th:replace="fragments :: my-footer"/>
</body>
</html>