<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Log In')"></th:block>
    <link rel="stylesheet" href="/css/dashboard.css"/>
</head>

<body>
<div id="indexContainer">
<nav th:replace="fragments :: my-navbar"/>
<div class="container">
    <div id="pass" class="col-sm-4 col-sm-offset-5 col-xs-10 col-xs-offset-1" th:if="${param.error}">
        Invalid Username and/or Password.
    </div>
    <div id="log" class="col-sm-4 col-sm-offset-5 col-xs-10 col-xs-offset-1" th:if="${param.logout}">
        You have been logged out.
    </div>
    <div id="indexWelcome" class="col-sm-8 col-sm-offset-2 col-xs-12">
        <h1 class="col-xs-12">Login</h1>
    <form th:action="@{/login}" th:method="post" class="col-xs-12">
        <div class="form-group">
            <label  for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" autofocus="true"/>
        </div>
        <div class="form-group">
            <label  for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control"/>
        </div>
        <div class="form-group text-center">

            <input class="btn btn-default" type="submit" value="Login"/>
        </div>
    </form>
    </div>
</div>
</div>
<footer th:include="fragments :: my-footer" class="footer col-xs-12"/>
</body>
</html>