<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Log In')"></th:block>
    <link rel="stylesheet" href="/css/login.css"/>
</head>

<body>
<nav th:replace="fragments :: my-navbar"/>
<div class="container">
    <div id="pass" class="col-sm-4 col-sm-offset-5" th:if="${param.error}">
        Invalid Username and/or Password.
    </div>
    <div id="log" class="col-sm-4 col-sm-offset-5" th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" th:method="post">
        <h1 class="login">Login</h1>
        <div class="col-sm-4 col-sm-offset-5">
            <label class="choice" for="username">Username</label>
            <input type="text" id="username" name="username" autofocus="true"/>
        </div>
        <div class="col-sm-4 col-sm-offset-5">
            <label class="choice" for="password">Password</label>
            <input type="password" id="password" name="password"/>
        </div>
        <div class="col-sm-4 col-sm-offset-5">

            <input type="submit" value="Login"/>
        </div>
    </form>
</div>
<footer th:include="fragments :: my-footer" class="footer col-xs-12"/>
</body>
</html>