<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/fragments.css" />
</head>
<body>
<nav th:replace="fragments :: my-navbar" />
<h1>Login</h1>
<div th:if="${param.error}">
    Invalid Username and Password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" th:method="post">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" />
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>

        <input type="submit" value="Login" />
    </div>
</form>

</body>
</html>