<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Technician')"></th:block>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <link rel="stylesheet" href="/css/fragments.css"/>
    <link rel="stylesheet" href="/css/calender.css" />
    <link rel="stylesheet" href="/css/jquery-ui.min.css"/>
  

</head>
<body>


<nav th:replace="fragments :: my-navbar" />
<div class="container">



    <h1><span th:text="${user.name}"></span>'s Availability</h1>
    <div class="col-sm-3" th:each="appointment: ${availability}">
        <h4 th:text="${appointment.formatDate(appointment.date)}"></h4>
        <h4 th:text="${appointment.formatTime(appointment.startTime)}"></h4>
        <h4 th:text="${appointment.formatTime(appointment.stopTime)}"></h4>
        <form th:action="@{/servicer/appointment/delete}" th:method="post">
            <input type="hidden" id="id" name="id" th:value="${appointment.id}"/>
            <input type="submit" value="Delete"/>
        </form>
    </div>
    <h4 th:text="${error}" class="col-sm-6 col-sm-offset-3" id="error"></h4>
    <table class="col-xs-12">
        <tr>
            <th>Time</th>
            <th th:each="day: ${appointment.findTodayNext7('EEEEE MMMMM dd')}">
                <span th:text="${day}"></span>
            </th>

        </tr>


        <tr class="selector">
            <td>7:00 AM</td>
            <td class="d-0 t-7"> </td>
            <td class="d-1 t-7"> </td>
            <td class="d-2 t-7"> </td>
            <td class="d-3 t-7"> </td>
            <td class="d-4 t-7"> </td>
            <td class="d-5 t-7"> </td>
            <td class="d-6 t-7"> </td>
        </tr>
        <tr class="selector1">
            <td>8:00 AM</td>
            <td class="d-0 t-8"> </td>
            <td class="d-1 t-8"> </td>
            <td class="d-2 t-8"> </td>
            <td class="d-3 t-8"> </td>
            <td class="d-4 t-8"> </td>
            <td class="d-5 t-8"> </td>
            <td class="d-6 t-8"> </td>
        </tr>
        <tr class="selector2">
            <td>9:00 AM</td>
            <td class="d-0 t-9"> </td>
            <td class="d-1 t-9"> </td>
            <td class="d-2 t-9"> </td>
            <td class="d-3 t-9"> </td>
            <td class="d-4 t-9"> </td>
            <td class="d-5 t-9"> </td>
            <td class="d-6 t-9"> </td>
        </tr>
        <tr class="selector3">
            <td>10:00 AM</td>
            <td class="d-0 t-10"> </td>
            <td class="d-1 t-10"> </td>
            <td class="d-2 t-10"> </td>
            <td class="d-3 t-10"> </td>
            <td class="d-4 t-10"> </td>
            <td class="d-5 t-10"> </td>
            <td class="d-6 t-10"> </td>
        </tr>
        <tr class="selector4">
            <td>11:00 AM</td>
            <td class="d-0 t-11"> </td>
            <td class="d-1 t-11"> </td>
            <td class="d-2 t-11"> </td>
            <td class="d-3 t-11"> </td>
            <td class="d-4 t-11"> </td>
            <td class="d-5 t-11"> </td>
            <td class="d-6 t-11"> </td>
        </tr>
        <tr class="selector5">
            <td>12:00 PM</td>
            <td class="d-0 t-12"> </td>
            <td class="d-1 t-12"> </td>
            <td class="d-2 t-12"> </td>
            <td class="d-3 t-12"> </td>
            <td class="d-4 t-12"> </td>
            <td class="d-5 t-12"> </td>
            <td class="d-6 t-12"> </td>
        </tr>
        <tr class="selector6">
            <td>1:00 PM</td>
            <td class="d-0 t-13"> </td>
            <td class="d-1 t-13"> </td>
            <td class="d-2 t-13"> </td>
            <td class="d-3 t-13"> </td>
            <td class="d-4 t-13"> </td>
            <td class="d-5 t-13"> </td>
            <td class="d-6 t-13"> </td>
        </tr>
        <tr class="selector7">
            <td>2:00 PM</td>
            <td class="d-0 t-14"> </td>
            <td class="d-1 t-14"> </td>
            <td class="d-2 t-14"> </td>
            <td class="d-3 t-14"> </td>
            <td class="d-4 t-14"> </td>
            <td class="d-5 t-14"> </td>
            <td class="d-6 t-14"> </td>
        </tr>
        <tr class="selector8">
            <td>3:00 pm</td>
            <td class="d-0 t-15"> </td>
            <td class="d-1 t-15"> </td>
            <td class="d-2 t-15"> </td>
            <td class="d-3 t-15"> </td>
            <td class="d-4 t-15"> </td>
            <td class="d-5 t-15"> </td>
            <td class="d-6 t-15"> </td>
        </tr>
        <tr class="selector9">
            <td>4:00 PM</td>
            <td class="d-0 t-16"> </td>
            <td class="d-1 t-16"> </td>
            <td class="d-2 t-16"> </td>
            <td class="d-3 t-16"> </td>
            <td class="d-4 t-16"> </td>
            <td class="d-5 t-16"> </td>
            <td class="d-6 t-16"> </td>
        </tr>
        <tr class="selector10">
            <td>5:00 PM</td>
            <td class="d-0 t-17"> </td>
            <td class="d-1 t-17"> </td>
            <td class="d-2 t-17"> </td>
            <td class="d-3 t-17"> </td>
            <td class="d-4 t-17"> </td>
            <td class="d-5 t-17"> </td>
            <td class="d-6 t-17"> </td>
        </tr>
        <tr class="selector11">
            <td>6:00 PM</td>
            <td class="d-0 t-18"> </td>
            <td class="d-1 t-18"> </td>
            <td class="d-2 t-18"> </td>
            <td class="d-3 t-18"> </td>
            <td class="d-4 t-18"> </td>
            <td class="d-5 t-18"> </td>
            <td class="d-6 t-18"> </td>
        </tr>
        <tr class="selector12">
            <td>7:00 PM</td>
            <td class="d-0 t-19"> </td>
            <td class="d-1 t-19"> </td>
            <td class="d-2 t-19"> </td>
            <td class="d-3 t-19"> </td>
            <td class="d-4 t-19"> </td>
            <td class="d-5 t-19"> </td>
            <td class="d-6 t-19"> </td>
        </tr>
        <tr class="selector13">
            <td>8:00 PM</td>
            <td class="d-0 t-20"> </td>
            <td class="d-1 t-20"> </td>
            <td class="d-2 t-20"> </td>
            <td class="d-3 t-20"> </td>
            <td class="d-4 t-20"> </td>
            <td class="d-5 t-20"> </td>
            <td class="d-6 t-20"> </td>
        </tr>
    </table>

    <form th:action="@{/servicer/setavailability}" th:method="post"  id="setAvail">
        <input type="hidden" id="date" name="date" />
        <input type="hidden" id="time" name="time" />
    </form>
    <button class="col-xs-2 col-xs-offset-1" id="add">Add</button>


    <!--<form class="col-sm-6 col-sm-offset-3" th:action="@{/servicer/availability}" th:method="post"-->
          <!--th:object="${appointment}">-->
        <!--<div class="col-sm-6 col-sm-offset-3">-->


            <!--<label for="date">Select Date</label>-->
            <!--<input type="text" id="date" name="date" th:field="*{date}"/>-->

        <!--</div>-->
        <!--<div class="col-sm-6 col-sm-offset-3">-->
            <!--<label class="time" for="start_time">Appointment block start</label>-->
            <!--<select id="start_time" name="start_time" th:field="*{startTime}">-->
                <!--<option disabled="disabled" selected="selected" value="0">-Select a start time-</option>-->
                <!--<option value="7">7:00AM</option>-->
                <!--<option value="8">8:00AM</option>-->
                <!--<option value="9">9:00AM</option>-->
                <!--<option value="10">10:00AM</option>-->
                <!--<option value="11">11:00AM</option>-->
                <!--<option value="12">12:00PM</option>-->
                <!--<option value="13">1:00PM</option>-->
                <!--<option value="14">2:00PM</option>-->
                <!--<option value="15">3:00PM</option>-->
                <!--<option value="16">4:00PM</option>-->
                <!--<option value="17">5:00PM</option>-->
                <!--<option value="18">6:00PM</option>-->
                <!--<option value="19">7:00PM</option>-->
                <!--<option value="20">8:00PM</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="col-sm-6 col-sm-offset-3">-->
            <!--<label class="time" for="stop_time">Appointment block stop</label>-->
            <!--<select id="stop_time" name="stop_time" th:field="*{stopTime}">-->
                <!--<option disabled="disabled" selected="selected" value="0">-Select a stop time-</option>-->
                <!--<option value="7">7:00AM</option>-->
                <!--<option value="8">8:00AM</option>-->
                <!--<option value="9">9:00AM</option>-->
                <!--<option value="10">10:00AM</option>-->
                <!--<option value="11">11:00AM</option>-->
                <!--<option value="12">12:00PM</option>-->
                <!--<option value="13">1:00PM</option>-->
                <!--<option value="14">2:00PM</option>-->
                <!--<option value="15">3:00PM</option>-->
                <!--<option value="16">4:00PM</option>-->
                <!--<option value="17">5:00PM</option>-->
                <!--<option value="18">6:00PM</option>-->
                <!--<option value="19">7:00PM</option>-->
                <!--<option value="20">8:00PM</option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="col-sm-6 col-sm-offset-3">-->
            <!--<input type="submit" value="Add"/>-->
        <!--</div>-->

    <!--</form>-->


</div>
<footer th:include="fragments :: my-footer" class="footer"/>
<script src="/js/jquery.js"></script>
<script src="/js/jquery-ui.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>