<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Dashboard')"></th:block>
    <link rel="stylesheet" href="/css/jquery-ui.min.css" />
    <link rel="stylesheet" href="/css/calender.css" />
    <link rel="stylesheet" href="/css/dashboard.css"/>
</head>

<body>
<div id="dashContainer">
<nav th:replace="fragments :: my-navbar"/>


<div id="proTop" class="col-xs-12">
    <div class="container">
        <h1 class="welcome">Welcome to your Service Dashboard</h1>
    <div class="col-sm-4 col-xs-12 text-center">
        <h2 th:text="${user.name}"></h2>
        <th:block th:if="${servicer != null}">
            <span th:if="${servicer.picUrl == ''}"><img  src="/img/default-logo.png" alt="" class="img-responsive img-rounded center-block"/></span>
            <span th:if="${servicer.picUrl != null and servicer.picUrl != ''}"><img  th:src="${'/uploads/' + servicer.picUrl}" alt="" class="img-responsive img-rounded center-block"/></span>

        </th:block>
        <th:block th:if="${servicer == null}">
            <img src="/img/default-logo.png" alt="" class="img-responsive img-rounded center-block"/>
        </th:block>
        <div id="myrating">
            <div id="rateoverlay">
                <img src="/img/fivestar.png" alt=""/>
            </div>
            <p><span th:text="${avgrating}"></span> Average rating</p>
        </div>
    </div>
    <div class="col-sm-8 col-xs-12" id="modules">


        <div class="col-sm-12 selector" id="mod-1">
            <h3><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Appointments Scheduled <span class="badge" th:text="${numberScheduled}"></span></h3>
            <div class="contentSelect">
                <div th:each="appointment: ${scheduledAppointments}">
                    <h4><span th:text="${appointment.formatDate(appointment.date)}"></span>,  <span th:text="${appointment.formatTime(appointment.startTime)}"></span>-<span th:text="${appointment.formatTime(appointment.stopTime)}"></span></h4>
                    <h4><span th:text="${appointment.user.name}"></span> - <span th:text="${appointment.user.zipcode}"></span></h4>
                    <h4><th:block th:switch="${appointment.serviceRecords.userAppliance.appliance_id}">
                        <span th:case="0">Refrigerator</span>
                        <span th:case="1">Stove/ Oven</span>
                        <span th:case="2">Washer</span>
                        <span th:case="3">Dryer</span>
                        <span th:case="4">Dishwasher</span>
                        <span th:case="5">Microwave</span>
                        <span th:case="6">Ice Machine</span>
                        <span th:case="7">Other</span>
                    </th:block> - <span th:text="${appointment.serviceRecords.complaint}"></span>
                    </h4>
                    <hr />
                </div>

            </div>
        </div>


        <div class="col-sm-12 selector" id="mos-2">
            <h3><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Service Request Pending Approval <span class="badge" th:text="${numberPending}"></span></h3>
            <div class="contentSelect">
                <div th:each="appointment: ${pendingAppointments}">
                    <h4><span th:text="${appointment.formatDate(appointment.date)}"></span>,  <span th:text="${appointment.formatTime(appointment.startTime)}"></span>-<span th:text="${appointment.formatTime(appointment.stopTime)}"></span></h4>
                    <h4><span th:text="${appointment.user.name}"></span> - <span th:text="${appointment.user.zipcode}"></span></h4>
                    <h4><th:block th:switch="${appointment.serviceRecords.userAppliance.appliance_id}">
                        <span th:case="0">Refrigerator</span>
                        <span th:case="1">Stove/ Oven</span>
                        <span th:case="2">Washer</span>
                        <span th:case="3">Dryer</span>
                        <span th:case="4">Dishwasher</span>
                        <span th:case="5">Microwave</span>
                        <span th:case="6">Ice Machine</span>
                        <span th:case="7">Other</span>
                    </th:block> - <span th:text="${appointment.serviceRecords.complaint}"></span>
                    </h4>
                    <form th:action="@{appointment/confirm}" th:method="post">
                        <input type="hidden" name="confirm_id" id="confirm_id" th:value="${appointment.id}" />
                        <button type="submit" class="btn btn-success">Confirm</button>
                    </form>
                    <form th:action="@{/appointment/decline}" th:method="post">
                        <input type="hidden" name="decline_id" id="decline_id" th:value="${appointment.id}" />
                        <button type="submit" class="btn btn-danger">Decline</button>
                    </form>
                    <hr />
                </div>
            </div>
        </div>

        <div class="col-sm-12 selector" id="mod-3">
            <h3><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span> Appointments Pending Service Records <span class="badge" th:text="${numberNeedSvcRec}"></span></h3>
            <div class="contentSelect">

                <div th:each="appointment: ${appointmentsNeedSvcRec}">
                    <div class="selectRecord">
                        <h4><span th:text="${appointment.formatDate(appointment.date)}"></span>, <span th:text="${appointment.formatTime(appointment.startTime)}"></span> - <span th:text="${appointment.formatTime(appointment.stopTime)}"></span></h4>
                        <h4><span th:text="${appointment.user.name}"></span> - <span th:text="${appointment.user.zipcode}"></span></h4>
                        <h4><th:block th:switch="${appointment.serviceRecords.userAppliance.appliance_id}">
                            <span th:case="0">Refrigerator</span>
                            <span th:case="1">Stove/ Oven</span>
                            <span th:case="2">Washer</span>
                            <span th:case="3">Dryer</span>
                            <span th:case="4">Dishwasher</span>
                            <span th:case="5">Microwave</span>
                            <span th:case="6">Ice Machine</span>
                            <span th:case="7">Other</span>
                        </th:block> - <span th:text="${appointment.serviceRecords.complaint}"></span></h4>
                        <hr />
                    </div>
                    <div class="viewRecord">
                        <form th:action="@{/servicer/submit-service}" th:method="post" th:object="${record}">
                            <input type="hidden" name="service_record_id" th:value="${appointment.serviceRecords.id}" th:field="*{id}" />

                            <div class="col-sm-8 col-sm-offset-2">
                                <label for="parts" class="col-sm-10 col-sm-offset-1">Parts installed</label>
                                <input type="text" id="parts" name="parts" class="col-sm-10 col-sm-offset-1" th:field="*{parts_installed}" />
                            </div>
                            <div class="col-sm-8 col-sm-offset-2">
                                <label for="description" class="col-sm-10 col-sm-offset-1">Description of service</label>
                                <textarea name="description" id="description"  rows="8" class="col-sm-10 col-sm-offset-1" th:field="*{desc_service}"></textarea>
                            </div>
                            <div class="col-sm-8 col-sm-offset-2">
                                <input type="submit" value="Submit" class="col-sm-2 col-sm-offset-5" />
                            </div>

                        </form>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


    <ul class="nav nav-tabs col-xs-12">
        <li role="presentation" id="avail" class="tablink active"><a href="#availavility">Availability</a></li>
        <li role="presentation" id="review" class="tablink"><a href="#myReviews">My Reviews</a></li>
        <li role="presentation" id="team" class="tablink"><a href="#myTeam">My Team</a></li>
        <li role="presentation" id="prof" class="tablink"><a href="#prof">My Profile</a></li>
    </ul>

<div class="container">

    <div class="col-xs-12 proTab" id="myReviews">
        <div th:each="review : ${servicerReviews}" class="col-md-3 col-sm-4 col-xs-6 commentContain">
        <div class="comments">
            <h4>Rating: <span th:text="${review.rating}"></span> Stars</h4>
            <h4>Comments: <span th:text="${review.comments}"></span></h4>
        </div>
        </div>
    </div>


        <div class="col-xs-12 proTab" id="availavility">

            <h2 class="col-xs-12"><span th:text="${user.name}"></span>'s Availability</h2>

            <div class="col-md-3 col-sm-4 col-xs-6  " th:each="appointment: ${availability}">
                <div class="availappointments">
                <h1 style="margin-top: 0"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></h1>
                <h4 th:text="${appointment.formatDate(appointment.date)}"></h4>
                <h4 th:text="${appointment.formatTime(appointment.startTime)}"></h4>
                <h4 th:text="${appointment.formatTime(appointment.stopTime)}"></h4>
                <form th:action="@{/servicer/appointment/delete}" th:method="post">
                    <input type="hidden" id="id" name="id" th:value="${appointment.id}"/>
                    <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                </form>
            </div>
            </div>
            <h4 th:text="${error}" class="col-sm-6 col-sm-offset-3" id="error"></h4>
            <div class="table-responsive">
            <table class="col-xs-12 table">
                <tr>
                    <th>Time</th>
                    <th th:each="day: ${appointment.findTodayNext7('EEEEE MMMMM dd')}">
                        <span th:text="${day}"></span>
                    </th>

                </tr>


                <tr class="selector">
                    <td>7:00 AM</td>
                    <td class="d-0 t-7"> </td>
                    <td class="d-1 t-7"> </td>
                    <td class="d-2 t-7"> </td>
                    <td class="d-3 t-7"> </td>
                    <td class="d-4 t-7"> </td>
                    <td class="d-5 t-7"> </td>
                    <td class="d-6 t-7"> </td>
                </tr>
                <tr class="selector1">
                    <td>8:00 AM</td>
                    <td class="d-0 t-8"> </td>
                    <td class="d-1 t-8"> </td>
                    <td class="d-2 t-8"> </td>
                    <td class="d-3 t-8"> </td>
                    <td class="d-4 t-8"> </td>
                    <td class="d-5 t-8"> </td>
                    <td class="d-6 t-8"> </td>
                </tr>
                <tr class="selector2">
                    <td>9:00 AM</td>
                    <td class="d-0 t-9"> </td>
                    <td class="d-1 t-9"> </td>
                    <td class="d-2 t-9"> </td>
                    <td class="d-3 t-9"> </td>
                    <td class="d-4 t-9"> </td>
                    <td class="d-5 t-9"> </td>
                    <td class="d-6 t-9"> </td>
                </tr>
                <tr class="selector3">
                    <td>10:00 AM</td>
                    <td class="d-0 t-10"> </td>
                    <td class="d-1 t-10"> </td>
                    <td class="d-2 t-10"> </td>
                    <td class="d-3 t-10"> </td>
                    <td class="d-4 t-10"> </td>
                    <td class="d-5 t-10"> </td>
                    <td class="d-6 t-10"> </td>
                </tr>
                <tr class="selector4">
                    <td>11:00 AM</td>
                    <td class="d-0 t-11"> </td>
                    <td class="d-1 t-11"> </td>
                    <td class="d-2 t-11"> </td>
                    <td class="d-3 t-11"> </td>
                    <td class="d-4 t-11"> </td>
                    <td class="d-5 t-11"> </td>
                    <td class="d-6 t-11"> </td>
                </tr>
                <tr class="selector5">
                    <td>12:00 PM</td>
                    <td class="d-0 t-12"> </td>
                    <td class="d-1 t-12"> </td>
                    <td class="d-2 t-12"> </td>
                    <td class="d-3 t-12"> </td>
                    <td class="d-4 t-12"> </td>
                    <td class="d-5 t-12"> </td>
                    <td class="d-6 t-12"> </td>
                </tr>
                <tr class="selector6">
                    <td>1:00 PM</td>
                    <td class="d-0 t-13"> </td>
                    <td class="d-1 t-13"> </td>
                    <td class="d-2 t-13"> </td>
                    <td class="d-3 t-13"> </td>
                    <td class="d-4 t-13"> </td>
                    <td class="d-5 t-13"> </td>
                    <td class="d-6 t-13"> </td>
                </tr>
                <tr class="selector7">
                    <td>2:00 PM</td>
                    <td class="d-0 t-14"> </td>
                    <td class="d-1 t-14"> </td>
                    <td class="d-2 t-14"> </td>
                    <td class="d-3 t-14"> </td>
                    <td class="d-4 t-14"> </td>
                    <td class="d-5 t-14"> </td>
                    <td class="d-6 t-14"> </td>
                </tr>
                <tr class="selector8">
                    <td>3:00 pm</td>
                    <td class="d-0 t-15"> </td>
                    <td class="d-1 t-15"> </td>
                    <td class="d-2 t-15"> </td>
                    <td class="d-3 t-15"> </td>
                    <td class="d-4 t-15"> </td>
                    <td class="d-5 t-15"> </td>
                    <td class="d-6 t-15"> </td>
                </tr>
                <tr class="selector9">
                    <td>4:00 PM</td>
                    <td class="d-0 t-16"> </td>
                    <td class="d-1 t-16"> </td>
                    <td class="d-2 t-16"> </td>
                    <td class="d-3 t-16"> </td>
                    <td class="d-4 t-16"> </td>
                    <td class="d-5 t-16"> </td>
                    <td class="d-6 t-16"> </td>
                </tr>
                <tr class="selector10">
                    <td>5:00 PM</td>
                    <td class="d-0 t-17"> </td>
                    <td class="d-1 t-17"> </td>
                    <td class="d-2 t-17"> </td>
                    <td class="d-3 t-17"> </td>
                    <td class="d-4 t-17"> </td>
                    <td class="d-5 t-17"> </td>
                    <td class="d-6 t-17"> </td>
                </tr>
                <tr class="selector11">
                    <td>6:00 PM</td>
                    <td class="d-0 t-18"> </td>
                    <td class="d-1 t-18"> </td>
                    <td class="d-2 t-18"> </td>
                    <td class="d-3 t-18"> </td>
                    <td class="d-4 t-18"> </td>
                    <td class="d-5 t-18"> </td>
                    <td class="d-6 t-18"> </td>
                </tr>
                <tr class="selector12">
                    <td>7:00 PM</td>
                    <td class="d-0 t-19"> </td>
                    <td class="d-1 t-19"> </td>
                    <td class="d-2 t-19"> </td>
                    <td class="d-3 t-19"> </td>
                    <td class="d-4 t-19"> </td>
                    <td class="d-5 t-19"> </td>
                    <td class="d-6 t-19"> </td>
                </tr>
                <tr class="selector13">
                    <td>8:00 PM</td>
                    <td class="d-0 t-20"> </td>
                    <td class="d-1 t-20"> </td>
                    <td class="d-2 t-20"> </td>
                    <td class="d-3 t-20"> </td>
                    <td class="d-4 t-20"> </td>
                    <td class="d-5 t-20"> </td>
                    <td class="d-6 t-20"> </td>
                </tr>
            </table>
                </div>

            <form th:action="@{/servicer/setavailability}" th:method="post"  id="setAvail">
                <input type="hidden" id="date" name="date" />
                <input type="hidden" id="time" name="time" />
            </form>
            <button class="btn btn-success center-block col-xs-2 col-xs-offset-5" id="add">Add</button>

        </div>

        <div class="col-xs-12 proTab" id="myTeam">
            <h2 class="col-xs-12">My Team</h2>

            <form class="col-xs-12" th:action="@{/servicer/tech}" th:method="post" th:object="${tech}"
                  enctype="multipart/form-data">
                <div class="col-sm-8 col-sm-offset-3 col-xs-12 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="First Name Only" class="form-control" th:field="*{name}"/>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-xs-12 form-group">
                    <label for="file">Image</label>
                    <input type="file" id="file" name="file"/>
                    <p class="help-block">Picture of technician's face is required</p>
                </div>
                <div class="col-sm-6 col-sm-offset-3 col-xs-12 form-group text-center">
                    <input type="submit" class="btn btn-primary" value="Add"/>
                </div>

            </form>


                <div class="col-md-3 col-xs-12 col-sm-6 techContainer text-center" th:each="tech: ${team}">
                    <img class="img-responsive center-block img-rounded" th:src="'/uploads/' + ${tech.PicUrl}" alt=""/>
                    <h4 th:text="${tech.name}"></h4>
                    <form th:action="@{/servicer/tech/delete}" th:method="post">
                        <input type="hidden" id="id" name="id"  th:value="${tech.id}"/>
                        <input type="submit" value="Delete" class="btn btn-danger btn-xs" />
                    </form>

                </div>

            </div>


        <div class="col-xs-12 proTab" id="profile">
            <h2 class="col-xs-12">My Profile</h2>

            <form th:action="@{/servicer/setprofile}" th:method="post" th:object="${servicer}" enctype="multipart/form-data">
                <input type="hidden" th:field="*{id}" />
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <label class="choice" for="address">Address</label>
                    <input type="text" id="address" name="address" class="form-control" th:field="*{user.address}" />
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <label class="choice" for="city">City</label>
                    <input type="text" id="city" name="city" class="form-control" th:field="*{user.city}" />
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <label class="choice" for="state">State</label>
                    <select name="state" id="state" class="form-control">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <label class="choice" for="zip">Zipcode</label>
                    <input type="number" id="zip" name="zip" class="form-control" th:field="*{user.zipcode}" />
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <label class="choice" for="phone">Phone</label>
                    <input type="text" id="phone" name="phone" class="form-control" th:field="*{user.phone}" />
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <label class="choice" for="service_call">Service Call Fee</label>
                    <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="text" id="service_call" name="service_call" class="form-control"  th:field="*{serviceCallFee}" />
                    <div class="input-group-addon">.00</div>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <legend class="choice">Choose all appliances you provide service for</legend>
                    <div class="checkbox">
                    <input type="checkbox" id="refrigerator" name="services" value="0" />
                    <label class="choice" for="refrigerator">Refrigerator</label>
                    </div>
                    <div class="checkbox">
                    <input type="checkbox" id="stove" name="services" value="1"/>
                    <label for="stove">Stove/ Oven</label>
                    </div>
                    <div class="checkbox">
                    <input type="checkbox" id="washer" name="services" value="2"/>
                    <label for="washer">Washer</label>
                    </div>
                    <div class="checkbox">
                    <input type="checkbox" id="dryer" name="services" value="3"/>
                    <label for="dryer">Dryer</label>
                    </div>
                    <div class="checkbox">
                    <input type="checkbox" id="dishwasher" name="services" value="4"/>
                    <label for="dishwasher">Dishwasher</label>
                    </div>
                    <div class="checkbox">
                    <input type="checkbox" id="microwave" name="services" value="5"/>
                        <label for="microwave">Microwave</label>
                    </div>
                    <div class="checkbox">
                    <input type="checkbox" id="icemachine" name="services" value="6"/>
                    <label for="icemachine">Ice Machine</label>
                    </div>
                    <div class="checkbox">
                    <input type="checkbox" id="other" name="services" value="7" />
                    <label for="other">Other</label>
                    </div>
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <label class="choice" for="file">Company Logo</label>
                    <input type="file" id="file" name="file" />
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <label class="choice" for="about">About</label>
                    <textarea name="about" id="about" class="form-control" cols="30" rows="15" th:field="*{about}"></textarea>
                </div>
                <div class="col-sm-8 col-sm-offset-2 form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>

            </form>


        </div>


    </div>
</div>
    <footer th:include="fragments :: my-footer" class="footer"/>
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/app.js"></script>
</body>
</html>