<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Dashboard')"></th:block>
    <link rel="stylesheet" href="/css/dashboard.css"/>
</head>

<body>
<nav th:replace="fragments :: my-navbar"/>
<div class="container">
    <div id="container">
        <h1 class="welcome">Welcome to your Servicer Dashboard <span th:text="${user.username}"></span>!</h1>
        <div class="col-sm-6 col-sm-offset-3">
            <img src="http://via.placeholder.com/250x250" alt=""/>
            <p>star rating here = 5.0</p>
            <a href="#">View Reviews</a>
        </div>
        <div class="col-sm-6 col-sm-offset-3">
            <div class="col-sm-6">
                <h2>Appointments Scheduled: 2</h2>
                <h2><a href="#">View calender</a></h2>
            </div>

            <div class="col-sm-6">
                <h2>Pending Service Request: 1</h2>
                <h2><a href="#">View/approve</a></h2>
            </div>

            <div class="col-sm-6">
                <h2>Appointments pending: 0</h2>
                <h2><a href="#">Edit</a></h2>
            </div>
            <div class="col-sm-6">
                <h2>My Team</h2>
                <h2><a href="/servicer/tech">View/ add</a></h2>
            </div>
            <div class="col-sm-6">
                <h2>Setup Profile</h2>
                <h2><a href="/servicer/setprofile">Setup Profile</a></h2>
            </div>
            <div class="col-sm-6">
                <h2>Availability</h2>
                <h2><a href="/servicer/create-availability">View/ Add</a></h2>
            </div>
            <div class="col-sm-6">
                <h2>Submit service records</h2>
                <h2><a href="/servicer/submit-service">Add</a></h2>
            </div>

        </div>
    </div>
</div>
<footer th:include="fragments :: my-footer" class="footer"/>
</body>
</html>