<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Fix It Hub')"></th:block>
    <link rel="stylesheet" href="/css/fragments.css"/>
    <link rel="stylesheet" href="/css/pending.css" />
</head>
<body>
<div class="col-sm-6 col-sm-offset-3">
    <h1>Reviews from users!</h1>
    <a>Bob Johnson</a>
    <!--Name will be clickable once made on controller-->
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, corporis ex facilis iure magni minima nostrum placeat quasi voluptate! Aspernatur culpa dolorum, est explicabo id laudantium magnam minus, necessitatibus odit officia officiis provident repellat voluptas.</p>
</div>
<footer th:include="fragments :: my-footer" class="footer col-xs-12"/>
</body>
</html>