<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Your Team</title>
    <link rel="stylesheet" href="../css/fragments.css" />
</head>
<body>
<nav th:replace="fragments :: my-navbar" />
    <div id="container">
        <h1><span th:text="${user.name}"></span>'s Team</h1>
        <div th:each="tech: ${team}">
            <img th:src="'/uploads/' + ${tech.PicUrl}" alt="" />
            <h4 th:text="${tech.name}"></h4>
        </div>


        <form th:action="@{/servicer/tech}" th:method="post" th:object="${tech}" enctype="multipart/form-data">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" th:field="*{name}" />
            </div>
            <div>
                <label for="file">Image</label>
                <input type="file" id="file" name="file" />
            </div>
            <div>
                <input type="submit" value="Add" />
            </div>

        </form>
    </div>
</body>
</html>