<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: head('Technician')"></th:block>
    <link rel="stylesheet" href="/css/dashboard.css"/>
    <link rel="stylesheet" href="/css/fragments.css"/>
</head>
<body>
<nav th:replace="fragments :: my-navbar" />
    <div class="col-sm-6 col-sm-offset-3" id="container">
        <h1><span th:text="${user.name}"></span>'s Team</h1>
        <div class="col-sm-6 col-sm-offset-3" th:each="tech: ${team}">
            <img th:src="'/uploads/' + ${tech.PicUrl}" alt="" />
            <h4 th:text="${tech.name}"></h4>
        </div>


        <form class="col-sm-6 col-sm-offset-3" th:action="@{/servicer/tech}" th:method="post" th:object="${tech}" enctype="multipart/form-data">
            <div class="col-sm-6 col-sm-offset-3">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" th:field="*{name}" />
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <label for="file">Image</label>
                <input type="file" id="file" name="file" />
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" value="Add" />
            </div>

        </form>
    </div>
</body>
</html>